<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> Main Page. Below are available Routes: </p>
    <ul>
      <li><a href="http://localhost:3000/customers">Customers</a></li>
      <li><a href="http://localhost:3000/orders">Orders</a></li>
      <li><a href="http://localhost:3000/inventory">Inventory</a></li>
    </ul>
  </body>
</html>
